services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: fides
      POSTGRES_PASSWORD: fides
      POSTGRES_DB: fides
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
